!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Cipherbit
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %navigation
      %ul
        %li
          %a{href: '/messages/inbox'}
            Inbox
        %li
          %a{href: '/messages/new'}
            Compose
        %li
          %a{href: '/settings'}
            Settings

      Your key art:
      %div{id: 'keyart'}

    %main
      = yield
